.navbar {
    width: 100%;
}

.advanced-wraper {
    background: #fff;
    padding: 16px;
    position: absolute;
    top: 64px;
    left: 16px;
    right: 16px;
    border-radius: 4px;
    z-index: 999;
}
.text-thin {
    font-weight: 200 !important;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

dt {
    font-weight: 400;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
}

.pagination-container > div {
    margin: 10px;
}

.pg-info {
    flex: 7;
    text-align: left;
}

.pg-button {
    flex: 1;
}

.pg-button .btn {
    margin: 0 5px;
    background: #6c757d;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.pg-button button {
    margin: 0 5px;
    background: #6c757d;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.pg-button .btn:hover,
.pg-button button:hover {
    background: #343a40;
}

.pg-button button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

b {
    font-weight: bold;
}

main {
    flex: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-between;
}

.logo-sm {
    display: none;
}

@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: auto auto auto auto auto;
        justify-content: space-between;
    }
}

@media screen and (max-width: 992px) {
    .grid-container {
        /* grid-template-columns: auto auto auto auto;
        justify-content: space-between; */

        grid-template-columns: auto auto auto;
        justify-content: center;
        column-gap: 20px;
    }

    .bottom-footer {
        bottom: 0;
        width: 100%;
        background-color: #343a40;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: 766px) {
    .grid-container {
        grid-template-columns: auto auto;
        justify-content: center;
        column-gap: 20px;
    }

    .bottom-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #343a40;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 10px;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    h3 {
        font-size: 20px;
    }

    .lettercontainer {
        font-size: 10px;
        align-items: center;
    }

    .lettercontainer .row {
        justify-content: center;
    }

    .top a.with-banner {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 400px) {
    .grid-container {
        grid-template-columns: auto;
        justify-content: center;
    }

    .bottom-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #343a40;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 8px;
    }
}

.bottom-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.top a.with-banner {
    margin-top: 15px;
    font-weight: 700;
}

letter-group {
    text-align: left;
}

.pengarangcontainer {
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
}

.subtitle {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
}

.subtitle .notavailable {
    font-weight: bold;
    font-size: 13px;
    color: #dc3545;
}

.subtitle .available {
    font-weight: bold;
    font-size: 13px;
    color: #20c997;
}

.title {
    font-weight: bold;
    font-size: 13px;
}

.mobile-closed-message-avatar {
    background: #1db9cd !important;
    display: block;
    position: absolute;
    top: 46px;
    right: 20px;
    height: 52px;
    width: 52px;
    border: 0px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
    text-align: center;
    line-height: 48px;
}

.mobile-closed-message-avatar svg {
    fill: #ffffff;
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

#botmanWidgetRoot > div {
    min-width: 120px !important;
}

.footer-info a {
    color: white;
    text-decoration: none;
}
